html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  background-color: #FAFAFA;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, body, p {
  margin: 0;
}

p, span {
  color: #303339;
  line-height: 1.7;
}

.title--underline::after {
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: #ffae9d;
  position: relative;
  margin: 10px auto;
}

.title--margin-top {
  margin-top: 60px;
}

.title__home {
  font-family: "Indie Flower", cursive;
  margin: 20px;
  color: #ffae9d;
  text-shadow: 2px 2px 3px #dbd9db;
}

.header {
  width: 100%;
  background-color: #ffede9;
  border-bottom: 4px solid #ffae9d;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
  width: 100%;
  display: block;
  text-align: center;
  margin: 15px auto;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  font-size: 30px;
}
.menu__list {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  top: 80px;
  box-shadow: 0px 2px 10px #dbd9db;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: #303339;
  padding: 15px 20px;
}
.menu__item {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ffae9d;
}

@media screen and (max-width: 659px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
@media screen and (min-width: 660px) {
  .menu__list {
    display: block;
    position: inherit;
    box-shadow: none;
  }
  .menu__link {
    display: inline;
    font-size: 18px;
    border-radius: 20px;
  }
  .menu__item {
    display: inline;
    background-color: #ffede9;
    border: none;
  }
  .menu__item--active .menu__link {
    background-color: #303339;
    color: #ffede9;
  }
  .menu__toggler {
    display: none;
  }
  .menu__link:hover, .menu__link:focus {
    background-color: #303339;
    color: #ffede9;
  }
}
@media screen and (min-width: 760px) {
  .logo {
    max-width: 300px;
  }
}
.footer {
  background-color: #303339;
  color: #FAFAFA;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .footer {
    padding: 30px 0;
  }
}
.main {
  max-width: 1100px;
  margin: 60px auto;
  text-align: center;
  flex-grow: 1;
}

.main__home {
  margin: 40px auto;
  max-width: 100vw;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.home__column img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #dbd9db;
}

.insta__icon {
  position: absolute;
  right: 10px;
  top: 140px;
  border-radius: 9px;
  box-shadow: 3px 3px 5px #dbd9db;
}

@media screen and (min-width: 640px) {
  .title__home {
    font-size: 40px;
  }

  .home__column img {
    max-width: 500px;
  }
}
@media screen and (min-width: 760px) {
  .insta__icon {
    right: 20px;
    top: 160px;
  }
}
@media screen and (min-width: 960px) {
  .title__home {
    font-size: 46px;
  }
}
.services__container {
  width: 300px;
  margin: 30px auto;
  box-shadow: 0px 2px 10px #dbd9db;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.services__container--padd {
  padding: 20px;
}
.services__title {
  background-color: #ffede9;
  padding: 10px;
  border-radius: 5px;
}
.services__text {
  padding: 15px;
}
.services__pricetag {
  padding: 10px;
  font-weight: bold;
  background-color: #f0f0f0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  border-radius: 5px;
}

.brands__container {
  display: grid;
  margin: 30px auto;
}

@media screen and (min-width: 640px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .services__container {
    flex-basis: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }
  .services__container--margin {
    margin: 30px 20px;
  }
  .services__text {
    flex-grow: 1;
    align-self: center;
  }

  .brands__container {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .brands__item--left {
    justify-self: flex-end;
  }
  .brands__item--right {
    justify-self: flex-start;
  }
}
@media screen and (min-width: 1040px) {
  .services {
    gap: 20px;
  }
  .services__container {
    flex-basis: 240px;
  }
  .services__container--margin {
    margin: 30px 0;
  }

  .brands__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.contact-form {
  width: 300px;
  max-width: 100%;
  padding: 20px;
  display: inline-block;
  margin: 20px auto;
}
.contact-form__field {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: start;
}
.contact-form__field label {
  display: block;
  font-size: 14px;
}
.contact-form__field input, .contact-form__field textarea {
  width: 100%;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #303339;
}
.contact-form__field input:focus, .contact-form__field textarea:focus, .contact-form__button:focus {
  outline: 0;
  border: 2px solid #303339;
}
.contact-form__checkbox {
  margin-bottom: 15px;
  text-align: start;
  font-size: 12px;
}
.contact-form__button {
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #303339;
  border-radius: 5px;
}
.contact-form__button:hover {
  background-color: #dbd9db;
}
.contact-form input[type=checkbox]:focus {
  outline-color: #303339;
}

.required {
  color: #ffae9d;
}

@media screen and (min-width: 640px) {
  .contact-form {
    width: 400px;
  }
}
.contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
}
.contact__info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.contact__icon {
  flex-basis: 10%;
  max-width: 32px;
}
.contact__details {
  flex-basis: 90%;
  color: #303339;
  font-size: 14px;
  text-align: left;
}
.contact__title {
  color: #303339;
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

.a--nolink {
  text-decoration: none;
  color: #303339;
}

@media screen and (min-width: 960px) {
  .contact {
    margin-top: 20px;
  }
  .contact__title {
    width: 500px;
  }
}
.about__section {
  width: 90%;
  margin: 0 auto 40px auto;
  padding: 20px 30px;
  box-shadow: 0px 2px 10px #dbd9db;
  border-radius: 5px;
}
.about__section p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text--highlight {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.certificate {
  width: 290px;
  max-width: 100%;
  box-shadow: 0px 2px 10px #303339;
  border-radius: 5px;
  margin: 10px 10px 0px 0px;
}

.about__references {
  font-style: italic;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.about__references--right {
  align-self: flex-end;
  padding-right: 50px;
}

@media screen and (min-width: 960px) {
  .about__section {
    padding: 30px 40px;
  }
}
.photo__gallery {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  gap: 10px;
  max-width: 90%;
  margin: 20px auto;
}
.photo__wrapper {
  max-width: 270px;
  position: relative;
  overflow: hidden;
}
.photo__wrapper:hover .photo__description {
  transform: translateY(-100%);
}
.photo__wrapper:hover .photo__image {
  transform: scale(1.1);
}
.photo__image {
  width: 100%;
  display: block;
  transition: transform 0.55s;
  aspect-ratio: 269/336;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo__description {
  background-color: rgba(48, 51, 57, 0.3764705882);
  color: #f0f0f0;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  transition: transform 0.55s;
}

@media screen and (min-width: 640px) {
  .photo__gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .photo__image {
    max-width: 500px;
  }
  .photo__wrapper {
    max-width: 300px;
  }
}
@media screen and (min-width: 960px) {
  .photo__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */