@use 'colors';

.about__section {
        width: 90%;
        margin: 0 auto 40px auto;
        padding: 20px 30px;
        box-shadow: 0px 2px 10px colors.$c-lightgrey;
        border-radius: 5px;
    & p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.text--highlight {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.certificate {
    width: 290px;
    max-width: 100%;
    box-shadow: 0px 2px 10px colors.$c-darkgrey;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
}
.about__references {
    font-style: italic;
    margin-top: 15px;
}
@media screen and (min-width: 960px) {
    .about__section {
        padding: 30px 40px;
    }
}
