@use 'colors';

.photo {
    &__gallery {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        // grid-auto-rows: 300px;
        gap: 10px;
        max-width: 90%;
        margin: 20px auto;
    }
    &__wrapper {
        max-width: 300px;
        position: relative;
        overflow: hidden;
    }
    &__wrapper:hover &__description {
        transform: translateY(-100%);
    }
    &__wrapper:hover &__image {
        transform: scale(1.1);
    }
    &__image {
        width: 100%;
        display: block;
        transition: transform 0.55s;
        aspect-ratio: 269 / 336;
        object-fit: cover;
    }
    &__description {
        background-color: colors.$c-darkgrey-transparent;
        color: colors.$c-light;
        padding: 10px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        transition: transform 0.55s;
    }
}

@media screen and (min-width: 640px) {

    .photo {
        &__gallery {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        &__image {
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 960px) {
    .photo {
        &__gallery {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}