@use 'colors';

.services {
    &__container {
        width: 300px;
        margin: 30px auto;
        box-shadow: 0px 2px 10px colors.$c-lightgrey;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

        &--padd {
            padding: 20px;
        }
    }

    &__title {
        background-color: colors.$c-primary;
        padding: 10px;
        border-radius: 5px;
    }
           
    &__text {
        padding: 15px;
    }

    &__pricetag {
        padding: 10px;
        font-weight: bold;
        background-color: colors.$c-light;
        width: fit-content;
        align-self: flex-end;
        border-radius: 5px;
    }
}

.brands {
    &__container {
        display: grid;
        margin: 30px auto;
    }
}

@media screen and (min-width: 640px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        &__container {
            flex-basis: 300px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            
            &--margin {
                margin: 30px 20px;
            }
        }

        &__text {
            flex-grow: 1;
            align-self: center;
        }
    }
    .brands {
        &__container {
            width: 60%;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }
        &__item--left {
            justify-self: flex-end;
        }
        &__item--right {
            justify-self: flex-start;
        }
    }
}

@media screen and (min-width: 1040px) {
    .services {
        gap: 20px;

        &__container {
            flex-basis: 240px;

            &--margin {
                margin: 30px 0;
            }
        }
    }
    .brands {
        &__container {
            column-gap: 30px;
        }
    }
}
